// Quantum Script Extension Magnet
// Copyright (c) 2020-2024 Grigore Stefan <g_stefan@yahoo.com>
// MIT License (MIT) <http://opensource.org/licenses/MIT>
// SPDX-FileCopyrightText: 2020-2024 Grigore Stefan <g_stefan@yahoo.com>
// SPDX-License-Identifier: MIT

#include <XYO/QuantumScript.Extension/Magnet/Library.rh>
#include <XYO/QuantumScript.Extension/Magnet/Copyright.rh>
#include <XYO/QuantumScript.Extension/Magnet/Version.rh>

XYO_PLATFORM_VERSION_INFO(XYO_QUANTUMSCRIPT_EXTENSION_MAGNET,"quantum-script--magnet.dll","Quantum Script Extension Magnet")
